*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url(final-fantasy-14-3840x2160-princess-anime-girl-25403.jpeg);
}
.part{
    text-align: center;
    font-size: x-large;
}
iframe{
    margin: 2px;
}
.shinko{
    background-color: aquamarine;
    color: white;
    font-size: 300%;
    font-weight: 800;
    padding: 1%;
    margin: 0%;
    border: 2px;
    border-color: solid black;
    text-align: center;
}
.home{
    background-color: black;
    margin: 0%;
    
}
a{
    color: #f5f5f5;
    font-weight: 800;
    font-size: 185%;
    text-decoration: none; 
    padding: 15px;
}
.all{
    margin: 8px;
}
a:hover{
    color: royalblue;
}
